<footer class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" routerLink='#' routerLinkActive="active" >For Business and Public Sector</a></li>
            <li class="nav-item"><a class="nav-link" routerLink='#' routerLinkActive="active" >TM Group</a></li>
            <li class="nav-item"><a class="nav-link" routerLink='#' routerLinkActive="active" >More Sites</a></li>
        </ul>
    </div>
</footer>
<footer class="navbar navbar-expand-md navbar-dark bg-dark mt-1">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" routerLink='#' routerLinkActive="active" >Contact</a></li>
            <li class="nav-item"><a class="nav-link" routerLink='#' routerLinkActive="active" >Careers</a></li>
            <li class="nav-item"><a class="nav-link" routerLink='#' routerLinkActive="active" >Sitemap</a></li>
            <li class="nav-item"><a class="nav-link" routerLink='#' routerLinkActive="active" >Privacy</a></li>
            <li class="nav-item"><a class="nav-link" routerLink='#' routerLinkActive="active" >Cookies</a></li>
            <li class="nav-item"><a class="nav-link" routerLink='#' routerLinkActive="active" >Terms of use</a></li>
        </ul>
    </div>
</footer>